fastapi
uvicorn
python-multipart
python-dotenv
requests

streamlit
pandas

azure-ai-documentintelligence
azure-storage-blob

sqlalchemy
psycopg2-binary
alembic

python-jose[cryptography]
passlib[bcrypt]
bcrypt